@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0px;
}

.background {
    background-color: #afcae5;
    background-size: cover;
    height: 100%;
}

.contact {
    background-color: white;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;

}

.heading {
    text-align: center;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600;
}

.toggle {
    margin-left: 50px;
    font-size: 30px;
}

.searchbackground {
    background-color: white;
    padding: 10px;
}

.search {
    width: 100%;
}

.searchstyle {
    background-color: #5e605f;
    padding: 10px;
}

.firstletter {
    background-color: #d5d8d7;
}

h5 {
    margin-left: 10px;
}

p {
    margin-left: 20px;
}